import pathlib


class Config:
    CWD = pathlib.Path(__file__).parent.resolve()

    SCRIPTS_PATH = f"{CWD}/libraries/scripts"
    CACHE_PATH = f"{CWD}/run/cache"
    LOG_PATH = f"{CWD}/logs"
    HOOKS_LOG_FILE = f"{LOG_PATH}/gvm_hooks.log"
    ARCHIVE_LOG_FILE = f"{LOG_PATH}/gvm_archive.log"
    REPORT_LOG_FILE = f"{LOG_PATH}/gvm_report.log"
    SCRIPT_LOG_FILE = f"{LOG_PATH}/gvm_script.log"

    PID_FILE = f"{CWD}/run/gvm_hooks.pid"

    ALLOWED_IP_FILE = f"{CWD}/etc/allowed_ips"

    HOST = "127.0.0.1"
    PORT = "5000"

    USERNAME = ""
    PASSWORD = ""
    ALT_USER = ""

    OUTPUT_PATH = "/var/log/openvas/scans"
